*{
    padding: 0;
    margin: 0;
}

.buttonSmash{
    background-color: purple;
    display: flex;
    color: white;
    padding:50px;
    font-size: 25px;
}

.buttonCrash{
    background-color: blue;
    display: flex;
    color: white;
    padding:50px;
    font-size: 25px;
}

.buttonSmash:hover{
    background-color:rgb(90, 47, 90);
}
.buttonCrash:hover{
    background-color:rgb(40, 40, 90);
}
